<footer class="bg-primary bg-gradient text-white text-center text-lg-start">
    <div class="text-center p-3">
        © 2022 Copyright:
        <a class="text-dark text-white" href="#">Nguyễn Đình Nghĩa</a>
    </div>
</footer>